@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Foodiezz</h1>
</div>
<div style="display:flex; align-items: center;">
    <div style="flex: 1;">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <h2>Your Food Ordering journey begins here!!</h2>
            <br />
            
            <a class="btn btn-lg btn-primary" asp-area="Customer" asp-controller="Homes" asp-action="Index">Explore</a>
        </div>
    </div>
    <!-- Embed Lottie animation -->
    @* <iframe src="https://lottie.host/embed/bb7099ed-8032-4ad3-a0f9-28b99b35736d/rXVJvjfhhk.json" width="350" height="350" style="margin-left: 20px; margin-top: 40px;"></iframe> *@
    <iframe src="https://lottie.host/embed/fd01e59d-cca5-4bf4-8d37-0a88719da55f/Gx0WrwuodT.json" width="350" height="350" style="margin-left: 20px; margin-top: 30px;"></iframe>
</div>
